
#bgImage {
    
    background-image: url(../img/movies/stranger_things.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: fixed;
    margin-top: 0px;    
    width: 100%;
    background-position: center center;
}

#navblur{
    background-image: url(../img/movies/stranger_things.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    height: 100px;
    position: fixed;
    margin-top: -30px;    
    width: 100%;
    background-position: center top;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    z-index: 1;
}
